<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--
    The file location can be anywhere as long as the running application has read/write/delete access.
    The environment variable also can be set as the location.
    <file value="${TMP}\\Log4NetTest.log"/>
    -->
    <file value="log4net.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="1MB" />
    <!--Ensure the file name is unchanged-->
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>-->
  </appender>

  <root>
    <!--
    1.OFF - nothing gets logged
    2.FATAL 
    3.ERROR
    4.WARN
    5.INFO
    6.DEBUG
    7.ALL - everything gets logged
    -->
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>